# Virtual Environment
/venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# Logs
*.log
logs/
previous_logs/

# macOS System Files
.DS_Store

# Temp Files & Artifacts
temp/
Satyam_Anand_Resume.pdf
src/meta/logs/src.Linkedin.linkedin.log
